body {
	background-image: url("background.jpg");
	background-size: cover;
	background-position: 0px -300px;
	
	#object-fit: fill;
	background-repeat: no-repeat;
}

.header {
	position: absolute;
	top: 30%;
	text-align: center;
	left: 44%;
	
}

.header h1 {
	font-size: 50px;
}

.header p {
	font-size: 20px;
}